@charset "utf-8";
	body,div,ul,li,a,h1,p,span,img{padding:0; margin:0;}
		a,img{border:none 0;}
		ul		{list-style-type:none;}
		body{font-size:12px;
				color:#333;
				font-family:"나눔고딕",NanumGothic,Nanum Gothic;}
	
	
		a:link,a:visited	{text-decoration:none; color:#333;}

		a:hover,a:active	{text-decoration:none; color:#333;}
		address			{font-style:normal;}
		img			{vertical-align:middle;}

	#header		{position:relative; margin:0 auto; width:1230px; height:95px;}
	#header ul	{position:absolute; top:40px; right:0; height:20px;}
	#header ul li{float:left; padding-left:43px; font-size:16px; font-weight:bold; }
	#header ul .home{color:#2a65b0;}
	
	.visual_bg	{margin:0 auto; height:425px;  background:url(/common/img/visual_bg.jpg) 50% no-repeat; background-size:100% 100%;}
	.visu_lobox{width:1230px;}
	#visual			{height:423px; width:1230px;  margin:0 auto;  overflow:hidden;}
	#visual span{height:425px;}
	.v_span1		{display:inline-block; padding-right:40px;}
	.visual_login{position:relative; margin:0 auto; width:1230px; height:425px;}
	
	.fa_stats_bg{background:url(/common/img/stats_bg.jpg) 50% no-repeat; margin:0 auto; height:567px; background-size:100% 100%;}
	#fa_stats		{position:relative; margin:0 auto; width:1230px; height:563px; }
	#fa_stats p{ text-align:center; font-size:30px; font-weight:bold; padding-top:74px;}
	
	.stats_box{margin:0 auto; width:1230px; height:174px; margin-top:100px;}
	.stats_box ul{display:inline-block;}
	.stats_box ul li{float:left;}
	
	.stats_box .stats_blank{width:92.6px; height:10px;}
	
	.teams,.player,.competition,.goals_scored{width:238px; height:171px; }
	.teams span,.player span,.goals_scored span{font-size:60px; font-weight:bold;  color:#444444;}
	.competition span{font-size:60px; color:#444444;}
	.player{}
	 #stats_box .competition .stats_number_1{font-weight:none;}
	 .stats_number_1{margin-left:17px;}
	.stats_box  .stats_number{text-align:center; width:237px;  font-weight: bold;}
	 .stats_txt{width:237px; text-align:center; padding:19px 0 33px 0; font-weight:bold;  font-size:14px; }

	#service .ser_box1{margin:0 auto; background-color:#3b9254; background-size:100% 100%; height:116px; }
	.ser_txt{margin:0 auto;text-align:center; font-size:30px;  font-weight:bold; color:#fff; padding-top:40px;}
	.ser_box2{margin:0 auto; width:33px;}

	 .community{margin:0 auto; width:1230px; height:546px; padding-top:74px;}
	 .commu_title_box{width:1171px; height:124px; margin:0 auto;}
	 .commu_title_box p{text-align:center; color:#3b9254;  font-size:16px;}
     .commu_title{display:inline-block; width:1171px;}
	 .commu_title li{float:left;}
	 
	 .border1-1{width:516px; height:26px; border-top:1px solid #d3d3d3; margin-top:12px;}
	 .commu_title span,.analysis_title span{color:#3e3e3e; font-size:30px; font-family:NanumGothic; padding:0 7px 0 7px; font-weight:bold;}

	.commu_icon_box{margin:0 auto; width:1200px; height:356px; padding-left:30px;}
	.commu_icon{width:1230px;  display:inline-block;}
	.commu_icon li{float:left; width:296px;}
	.commu_icon .commu_img{width:281px;}
	.commu_icon p{font-family:NanumGothic; text-align:center; font-size:18px; margin-top:10px; line-height: 26px;}
	.commu_txt1{padding-right:50px;}
	.commu_txt2{padding-right:30px;}
	.commu_txt4{padding-left:33px;}
	
	/*경기기록분석*/
	#analysis_box{margin:0 auto; background-size:100% 100%; height:818px; background-color:#f4f6f7;}
	.analysis_title_box{width:1230px; height:105px; margin:0 auto; padding-top:75px; }
	.analysis_title{display:inline-block; width:1230px;}
	.analysis_title_box p{text-align:center; color:#3b9254;  font-size:16px;}
	.analysis_title_box ul li{float:left;}
	
	.border2-1{border-top:1px solid #d3d3d3; width:512px; height:23px; margin-top:16px;}
	.border2-2{border-top:1px solid #d3d3d3; width:512px; height:23px; margin-top:16px; margin-left:12px;}
	
	.analysis{margin:0 auto; height:199px;}
	.analysis ul li {text-align:center; line-height:200%; font-size:15px; font-family:NanumGothic;}
	.analy_text span{margin-right:7px;}
	
	.analysis span {color:#3b9254;}
	.analysis p{text-align:center; color:#3e3e3e; font-size:16px; font-family:NanumGothic; font-weight:bold; margin-top:51px;}
	
	.analy_service{margin:0 auto; width:1230px; height:899px; position:relative;}
	.analyser_title_box{width:1230px;  margin:0 auto; text-align:center; padding-top:107px; padding-bottom:69px;}
	.analyser_title{font-size:20px; font-family:NanumGothic; font-weight:bold; margin-bottom:25px;}
	
	.analy_service p {text-align:center;}
	.analy_service .prev{position:absolute; top:489px; left:43px;}
	.analy_service .next{position:absolute; top:489px; right:43px;}
	
	#video{margin:0 auto; background-size:100% 100%; height:460px;  padding-top:102px; padding-bottom:82px; background-color:#f4f6f7;}
	.video_box{margin:0 auto; width:1171px; height:460px;}
	.video_box2{margin:0 auto; display:inline-block; width:1230px; height:460px; }
	.video_box p{float:left;}
	.video_box ul{margin-left:66px; float:left; padding-top:14px;}
	.video_box ul li{line-height:200%; color:#3e3e3e; font-size:15px; font-family:NanumGothic; padding-left:15px; background:url(/images/analy_li.gif) no-repeat  0 10px;}
	.video_box span{float:left; margin-left:65px; margin-top:20px;}
	.video_right{float:left; width:510px; height:460px; background:url(/common/img/main_back_half.png) no-repeat 50px;}
	
	.board_box1{margin:0 auto; background-size:100% 100%; height:73px; padding-top:43px; background-color:#feac0b;}
	.board_box1 p{text-align:center; color:#fff; font-size:30px;  font-weight:bold;}
	.board_box2 p{text-align:center;}

	
	.board_box1{margin:0 auto; background-size:100% 100%; height:73px; padding-top:43px; background-color:#feac0b;}
	.board_box1 p{text-align:center; color:#fff; font-size:30px;  font-weight:bold;}
	.board_box2 p{text-align:center;}


	.board_box{margin:0 auto; width:1230px; height:349px; padding-top:84px;}
	.info,.soccer_info,.etc_board{width:359px; height:349px; float:left; position:relative;}
	.info p,.soccer_info p,.etc_board p{font-size:18px; font-family:NanumGothic; font-weight:bold; padding-left:1px; margin-bottom:12px;}
	.info ul,.soccer_info ul,.etc_board ul{ border-top:1px solid #e0e0e0; padding-top:23px;}
	.soccer_info,.etc_board {margin-left:47px;}
	.board_box li{font-family:NanumGothic; font-size:15px; color:#3e3e3e; line-height:200%; padding-left:18px; background:url(/common/img/li_bg.gif) no-repeat 0 10px;}
	.board_box span{position:absolute; top:0; right:0;}
	
	#footer_box{margin:0 auto; background-size:100% 100%;  background-color:#333;}
	.footer{margin:0 auto; width:1230px; height:182px; padding:46px 0;color: #fff; position: relative;}
	.f_logo{width:108px; height:182px; margin-right:197px; float:left; }
	.f_facebook{display:inline-block;  margin-top:5px;}
	.f_info ul li a{color: #fff;}
	.f_info ul {float:left; width:445px;}
	.f_info ul li{font-family:NanumGothic; font-size:12px;  line-height:180%;}
	.f_info .f_fafa_title{ font-size:18px; font-weight:bold; padding-bottom:13px; color:#fff;}
	.f_info p a{color: #fff;}
	.f_info p{margin-bottom: 10px;}

/*로그인 작은팝업창*/
.Loginpop_box{width:397px; position:absolute; right:0; top:0; z-index:100;}
.Loginpop_close{text-align:right; background-color:#2A65B0;width:100%;  height: 40px;}
.Loginpop_txt p{float:left; width:245px; height:26px; padding-left:20px; padding-top:12px; font-size:13px; border-bottom:1px solid #e5e5e5; background-color:#fff;}
body .lp_1{width:97px; font-weight:bold; letter-spacing:2px; color:#7a7a7a; background-color:#f2f2f2; font-size:13px; padding-left:35px;}
.Loginpop_btn{background-color:#fff; background-color:#e0e0e0; display:inline-block;}
.Loginpop_btn p{float:left;}
.Loginpop_btn p a{color:#fff;}
.loginpop_btn11{background-color: #2a65b0; font-weight:bold;width:132px; text-align:center; padding-top:10px; height:30px;}
.loginpop_btn22{background-color: #f7941e; font-weight:bold; width:133px; height:30px; text-align:center; padding-top:10px;}
.loginpop_btn33{font-weight:bold; width:132px; height:30px; text-align:center; padding-top:10px; background-color:#c0c0c0;}




/*aaaaaaaaaaaaaaaaaaaaa*/

@charset "utf-8";
/* CSS Document */


#contents_main .chart_box_01{float:left;width:1051px; height:380px; margin-bottom:50px;}
.banner_01{float:left; width:350px; height:380px;background:#d6e9eb; margin-right:20px;}
.banner_02{float:left; width:350px; height:380px;background:#d6e9eb; margin-right:20px;}
.banner_03{float:left; width:309px; height:380px;}
.theme_img{float:left; width:149px; height:120px; margin-bottom:10px;}
.theme_img_R{float:right; width:149px; height:120px;margin-bottom:10px;}

#contents_main .chart_box_02{float:right; width:310px;margin-left:20px;margin-bottom:25px;}
#contents_main .chart_box_03{ float:left; width:720px; margin-bottom:25px;}
.table_blog_01{background-color:#ffffff; border:8px solid #09a699;}
.table_blog_02{background-color:#ffffff; border:8px solid #ff6769;}
#contents_main .chart_box_04{ float:right; width:310px; margin-bottom:25px;}
#contents_main .chart_box_05{ float:left; width:745px; margin-top:50px;}
#contents_main .chart_box_07{ float:right;width:309px; margin-bottom:25px;}

#contents_main .chart_tit_01 {text-align:center; font-weight:bold; height:12px; padding:15px 10px 15px 10px; background-color:#7b91ff; border-radius:0px 0px 0px 0px;}
#contents_main .chart_tit_01_2 {text-align:left; height:12px; padding:15px 10px 15px 15px; background-color:#7b91ff; border-radius:0px 0px 0px 0px;}
#contents_main .chart_tit_02 {padding:15px 10px 15px 15px; height:12px; background-color:#08a699; border-radius:0px 0px 0px 0px;}
#contents_main .chart_tit_03 {padding:15px 10px 15px 15px; height:12px; background-color:#ff6769; border-radius:0px 0px 0px 0px;}
#contents_main .chart_tit_04 {padding:15px 10px 15px 15px; height:12px; background-color:#9472ba; border-radius:0px 0px 0px 0px;}

#contents_main .chart_tit_05 {padding: 2px 0 0 10px;}
#contents_main .chart_tit_07 {padding: 2px 0 0 10px;}

.chart_box_01 .Ctxt{font-size:14px; color:#ff004e;}
#contents_main .chart_box_03 .chart_L{ float:left; width:350px;  margin-right:20px;}
#contents_main .chart_box_03 .chart_R{ float:left; width:350px;}

#contents_main .chart_box_03 .chart_03_1{width:350px;}
#contents_main .chart_box_03 .chart_03_2{width:350px;}
#contents_main .chart_04{width:310px;  height:502px;}
#contents_main .chart_box_05 .chart_L{ float:left; width:337px;  height:498px; margin-right:31px; background:url(../images/bg_main_06.gif) no-repeat; padding:10px 10px 15px 10px;}
#contents_main .chart_box_05 .chart_R{ float:left; width:337px; height:498px;float:left; background:url(../images/bg_main_06_2.gif) no-reapeat; padding:10px 10px 15px 10px;}
#contents_main .chart_box_05 .chart_05_1{width:357px; height:486px;}
#contents_main .chart_box_05 .chart_05_2{height:486px;padding:10px;}
#contents_main .chart_box_07 .chart_07{float:left; width:290px; height:499px;float:left; background:url(../images/bg_main_07.gif) no-reapeat; padding:10px 10px 15px 10px;}


#contents_main .chart_box_08 .chart_L{ float:left; width:527px;  margin-top:30px; margin-right:30px;}
#contents_main .chart_box_08 .chart_R{ float:left; width:527px; margin-top:30px;}
#contents_main .chart_box_08 .chart_08_1{height:507px; width:528px; background:url(../images/bg_rank_box.gif) no-repeat;padding:11px 15px 13px 11px;}
#contents_main .chart_box_08 .chart_08_2{height:507px; width:528px; background:url(../images/bg_rank_box.gif) no-repeat;padding:11px 15px 13px 11px;}
#contents_main .chart_box_08 .chart_L .b_c{ padding-top:110px; position:absolute; width:417px; height:101px;  top:34px; left:11px; background: rgba(255,255,255,.5)  ;text-align:center; z-index:999; font-weight:bold;}
#contents_main .chart_box_08 .chart_R .b_c{ padding-top:110px; position:absolute; width:417px; height:101px;  top:34px; left:11px; background: rgba(255,255,255,.5)  ;text-align:center; z-index:999; font-weight:bold;}

/*total_number*/
.total_number{float:left; width:1051px; margin-bottom:20px;}
.total_blog{position: relative; float:left; width:513px; height:150px;border: 1px solid #c1c1c1; border-top:4px solid #1e83cd; border-radius:0px 0px 0px 0px;background:#fff; margin-right:20px;}
.tb_box{width:377px; display:block; margin:20px auto;}
.t-blog_tit{border-bottom: 1px solid #e8e8e8; padding:13px 0px 15px 0px; margin-bottom:20px; text-align:center;}
.total_num_w{margin-left:10px;}
.total_num_b{ float:left;width:36px; height:45px; background:url(../bc_img/number_back.gif) no-repeat; font-size:25px; text-align:center; margin-left:6px; }
.total_num{float:left; width:36px; height:45px;  font-weight:bold; color:#232323; font-size:25px; text-align:center; padding-top:3px;}
.rest{float:left; font-weight:bold; color:#232323; font-size:35px; text-align:center; padding-left:6px;}
.total_chart-view{position: relative; float:left; width:514px; height:150px;border: 1px solid #c1c1c1; border-top:4px solid #1e83cd; border-radius:0px 0px 0px 0px;background:#fff;}
.t-chart_tit{border-bottom: 1px solid #e8e8e8; padding:13px 0px 15px 0px; margin-bottom:20px; text-align:center;}


.table_B{background-color:#ffffff; font-size:12px; color:#556270; text-align:center; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px;}

.table_B_02{background-color:#ffffff; font-size:12px; color:#556270; text-align:center; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px; height:452px;}
.table_B th{padding:13px 13px 13px 13px;}
.table_B td{padding:13px 13px 13px 13px;border-top:solid 1px #dcdcdc;}

.pdt_img #aa{
	top:50px;
}

.table_W_02{font-size:12px ; color:#fff; text-align:center; background-color:#7b91ff; border-radius:0px 0px 0px 0px;}
.table_W_02 th{padding:15px 15px 15px 15px; border-bottom: 1px; border-right: 1px ;}

.table_W{background-color:#ffffff; font-size:12px; color:#556270; text-align:center; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px;}
.table_W td{padding:13px 13px 13px 13px;border-bottom:solid 1px #dcdcdc; }
.table_C{font-size:12px; color:#556270; text-align:left; }
.table_C td{padding:8px 10px 8px 10px;border-bottom:dashed 1px #e5e5e5;}

.table_S{font-size:12px; color:#556270; text-align:left; }
.table_S td{padding:5px 4px 4px 5px;border-bottom:dashed 1px #d3dbc2; border-right:dashed 1px #d3dbc2;}


/*ranking-result*/

.rankBbox_01{float:left; width:1051px; margin-bottom:25px;}
.rankbox_L{float:left; width:513px; margin-right:25px;}
.rank_tit_01{padding:13px 0px 13px 19px; background:#22b8d2; border-radius:0px 0px 0px 0px; }
.rank_table_01{background:#fff; border:1px solid #d5d5d5;}
.B_rank{position:absolute; overflow:auto; top:577px; width:345px; left:90px; text-align:center;}
.rank_table_01 td{padding:13px 15px 13px 0px; border-top:1px solid #dcdcdc; text-align:center;}
.rank_table_01 th{padding:13px 0px 13px 15px; border-top:1px solid #dcdcdc; text-align:right;}
.rank_table_01_B{background:#fff; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px;}
.rank_table_01_B td{padding:13px 15px 13px 0px; border-top:1px solid #dcdcdc; text-align:center;}
.rank_table_01_B th{padding:13px 0px 13px 15px; border-top:1px solid #dcdcdc; text-align:right;}
.rank_numT{font-weight:bold; font-size:14px; padding-left:5px;}
.rank_num{font-weight:bold; font-size:14px; COLOR:#ff4974;}
.rankbox_R{float:right; width:513px;}
.rank_tit_02{padding:14px 0px 14px 19px; background: #ff8080; border-radius:0px 0px 0px 0px;text-align:center; }
.rank_table_02{background:#fff; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px;}
.rank_table_02 td{padding:13px 15px 14px 0px; border-top:1px solid #dcdcdc; text-align:center;}
.rank_table_02 .nv_t{ text-align:left; padding-left:30px; width:30% }
.rank_table_02 .nv_s{ text-align:right; padding-right:30px; width:20% }
.rank_table_02 .dm_t{ text-align:left; padding-left:30px; width:30%; background:#f8f8ff }
.rank_table_02 .dm_s{ text-align:right; padding-right:30px; width:20%; background:#f8f8ff }

.rankBbox_02{float:left; width:1051px;}
.rankbox02_L{float:left; width:513px; margin-right:25px;}
.rank_tit_03{padding:13px; background:#7a91ff; border-radius:0px 0px 0px 0px;}
.rank_table_03{background:#fff; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px; height:250px;}
.rank_table_03 td{text-align:center;}
.rank_ch{position:absolute; overflow:auto; top:830px; width:200px; text-align:center;}
.rank_ch_R{position:absolute; overflow:auto; top:150px; left:690px;width:200px; text-align:center; color:#000000; font-weight:bold;}
.rank_ch_L{position:absolute; overflow:auto; top:150px; left:150px;width:200px; text-align:center; color:#000000; font-weight:bold;}
.rankbox02_R{float:right; width:513px;}
.rank_tit_04{padding:13px; background:#7a91ff; border-radius:0px 0px 0px 0px;}
.rank_table_04{background:#fff; border:1px solid #d5d5d5; border-radius:0px 0px 0px 0px; height:250px;}
.rank_table_04 td{text-align:center;}

.rank_txt{float:left; width:1051px; margin-top:35px; margin-bottom:80px;}
.rank_txt p{width:626px; margin:auto;}
.rankT_btn{width:143px; margin:auto; margin-top:20px;}



/*chart*/

#contents_main .chartP{background:#fff; margin-top:20px; width:100%; text-align:center; border:1px solid #c0caff; border-bottom:3px solid #7a91ff;}
#contents_main .chartP th{background-color:#7a91ff; color:#fff; padding:11px 0 11px 0;}
#contents_main .chartP td{height:25px; padding:7px; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
#contents_main .chartP td.best{font-weight:bold; COLOR:#ff1f54; height:25px; padding:7px; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
#contents_main .gray{background-color:#f7f7f7;}
.rup{width:9px; height:4px; background-image:url(../images/img_up.png); display:inline-block; margin-bottom:2px;}
.rdn{width:9px; height:4px; background-image:url(../images/img_down.png); display:inline-block;margin-bottom:2px;}

.logoN,.logoD,.logoE,.logoT,.logoB{ width:16px; height:16px; display:inline-block; margin:-4px 2px; }
.logoN{background:url(../images/img_blogN.png) no-repeat;}
.logoD{background:url(../images/img_blogD.png) no-repeat;}
.logoT{background:url(../images/img_blogT.png) no-repeat;}
.logoE{background:url(../images/img_blogE.png) no-repeat;}
.logoB{background:url(../images/img_blogB.png) no-repeat;}
.logoC{background:url(../images/img_logoC.png) no-repeat;}
.Ngry{color:#9a9a9a;}

#contents_main .on a{color:#7a91ff; font-weight:bold; }



#contents_main .view_cate a:hover{ text-decoration:underline; font-weight:bold; }
.view_cate{width:1049px; background:#fff; border:1px solid #ccd9d8; margin-bottom:25px; overflow:hidden;}
.view_cate ul {float:left;width:1051px;text-align:left;padding:15px 0;}
.view_cate li {float:left;width:115px;padding:0 15px; border-right:1px solid #ccd9d8;}
.view_cate li p {height:18px; color:#333;cursor:pointer;}
.view_cate li.last{ border-right:none;}


.selBox {width:1051px; float: left; position:relative;}
.sel_Y {float: left; margin-bottom:1px;}
.sel_Y_s{height:24px;}
.sel_Y .sub {width:74px; height:101px; padding: 6px 0px;border:  1px solid #d7d7d7; left: 0px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; -ms-overflow-x: hidden; overflow-y:scroll; overflow-x:hidden;	-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_Y .sub .optionList {padding: 0px 6px 0px 8px; width:45px;	clear: both; cursor: pointer;overflow: hidden;}
.sel_Y .sub .optionList li {padding:3px 4px; color:#333;font-size: 11px;}

.sel_M_01{float: left; margin-left:5px; margin-bottom:1px;}
.sel_M_01 .sub {width:90px; height:101px; padding: 6px 0px;border:  1px solid #d7d7d7; left:81px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; -ms-overflow-x: hidden;	 overflow-y:scroll; overflow-x:hidden;-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_M_01 .sub .optionList {padding: 0px 6px 0px 8px; width:60px;	clear: both; cursor:pointer; overflow: hidden;}
.sel_M_01 .sub .optionList li {padding:3px 4px; color:#333;font-size: 11px;}

.sel_M_02{float: left; margin-left:5px; margin-bottom:1px;}
.sel_M_02 p { background:url(../images/bg_sel.jpg) no-repeat 100%; padding:5px 8px 0px 8px;	border: 1px solid #d7d7d7; width:74px; height:18px;	cursor: pointer; }
.sel_M_02 .sub {width:90px; height:101px; padding: 6px 0px;border:  1px solid #d7d7d7; left:81px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; -ms-overflow-x: hidden;	 overflow-y:scroll; overflow-x:hidden;-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_M_02 .sub .optionList {padding: 0px 6px 0px 8px; width:60px;	clear: both; cursor:pointer; overflow: hidden;}
.sel_M_02 .sub .optionList li:hover {background-color:#ffb2b2; color:#fff;}
.sel_M_02 .sub .optionList li {padding:3px 4px; color:#333;font-size: 11px;}

.sel_cate {float: left; margin-left:5px; margin-bottom:1px;}
.sel_cate .sub {width:171px; height:112px; padding: 6px 0px;border:  1px solid #d7d7d7; left:186px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; overflow-y:scroll; overflow-x:hidden; -ms-overflow-x: hidden;	-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_cate .sub .optionList {padding: 0px 6px 0px 8px; width:130px;	clear: both; cursor: pointer; overflow: hidden;}
.sel_cate .sub .optionList li:hover { width:150px;background-color:#ccc; color:#fff;}
.sel_cate .sub .optionList li {padding:5px 1px 3px 3px; color:#333; font-size: 12px;}

.sel_S{float: left; margin-left:5px; margin-bottom:1px;}
.sel_S .sub {width:90px; height:101px; padding: 6px 0px;border:  1px solid #d7d7d7; left:361px;	top:24px; bottom: 20px; position: absolute;	z-index: 10;  -ms-overflow-x: hidden; overflow-y:scroll; overflow-x:hidden;	-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_S .sub .optionList {padding: 0px 6px 0px 8px; width:60px;	clear: both; cursor: pointer;overflow: hidden;}
.sel_S .sub .optionList li:hover {background-color:#ffb2b2; color:#fff;}
.sel_S .sub .optionList li {padding:4px 4px 3px 4px; color:#333;font-size: 11px;}

.search_RK{ float: left; margin-left:5px;margin-bottom:3px; }


.sel_PN{float: right; margin-bottom:2px; margin-left:245px;}

.sel_PN .sub {width:156px; height:112px; padding: 6px 0px;border:  1px solid #d7d7d7; left:893px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; -ms-overflow-x: hidden; overflow-y:scroll; overflow-x:hidden;	-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.sel_PN .sub .optionList {padding: 0px 6px 0px 8px; width:130px;	clear: both; cursor: pointer;overflow: hidden;}
.sel_PN .sub .optionList li:hover {background-color: #CCCCCC; color:#fff;}
.sel_PN .sub .optionList li {padding:3px 4px; color:#333;font-size: 12px;}

/*chart*/


/*theme_chart*/
.theme_tit_W{height:35px; padding-top:20px; border-bottom:#d6d2d2 1px solid; margin-bottom:30px;}
.theme_tit{float:left;}
.tm_l{float:right; color:#7b8589; margin:6px 12px 0px 0px; font-size:11px;}
.theme_W{width:1051px; border:1px solid #dbdbdb; background:#fff; border-top:#3bc7d0 4px solid;}
.tm_info{float:left; padding-right:40px; border-bottom:1px solid #dbdbdb;}
.tm_infoT{padding:27px 0px 26px 0px;  border-bottom:1px solid #dbdbdb;}
.tm_img{float:left; padding:35px 0px 35px 0px;margin-bottom:25px; }
.tm_imgs01{float:left; width:173px; height:162px; margin-bottom:31px; margin-right:18px; margin-left:18px; background:#fff;}

#select_box {
            position:absolute;width:173px;height:180px;border:3px solid #185c90; top:-19px;
            display: none;
        }
        .theme_box {
            position:absolute; overflow:auto; top:120px; left:0px; width:173px;text-align:center;
        }
        .theme_box, #select_box {
            font-weight:bold; font-size:27px; font-family:Arial; color:#185c90;
        }
        .tm_imgs01 { position: relative }



.theme_list{width:1051px; background:#fff; border-top:4px solid #ff8080; border-bottom:1px solid #ff8080; margin-bottom:25px; overflow:hidden;}
.theme_list ul {float:left;width:1051px;text-align:left;padding:15px;}
.theme_list li {float:left; padding:10px 15px 10px 25px;}
.theme_list li p {height:18px; color:#333;cursor:pointer; padding:10px 0px;}
.theme_list li.last{ border-right:none;}
.tm_more{color:#ff3d54; text-decoration:none;}


/*theme_chart*/


.find_Bbox{width:720px; margin: 100px auto;}
.find_Bbox_02{width:450px; margin: 100px auto;}
.pw_change_box{float:left; background:#fff; width: 450px; height:400px; border:8px solid #bbbbbb;}
.id_find_box{float:left; background:#fff; width: 330px; height:330px; border:8px solid #bbbbbb;}
.pw_find_box{float:right; background:#fff; width:330px; height:330px; border:8px solid #bbbbbb;}

.table_line_02{background:#fff; width:100%; border:1px solid #9abafb;}
.table_line_02_s{border:1px solid #caccd3; margin-top:10px; margin-bottom:10px}
.table_line_02 th{border-right: 1px solid #d5d5d5; font-weight:bold; COLOR: #fff; background:#8c98a4;}
.table_line_02 td_02{border-bottom:1px solid #9abafb;}
.table_line_01, .table_line_03{ background:#fff; width:100%; border:1px solid #e5e5e5;  border-radius:0px; margin-top:25px; margin-bottom:50px; }
.table_line_01 th, .table_line_03 th {border-left: 1px solid #8c98a4; border-right: 1px solid #8c98a4;  border-radius:0px 0px 0px 0px; font-weight:bold; COLOR: #fff; background:#7a91ff;}
.table_line_01 td {border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;}
.table_line_01 a, .table_line_02 a{text-decoration:none; color:#515151; }
.table_line_01 a:hover, .table_line_02 a:hover{text-decoration:underline;}
.table_line_01{text-align:center;}
.table_line_01 th, .table_line_03 th{PADDING:13px 10px;}
.table_line_01 td{PADDING:13px 10px;}


.table_line_02 th{text-align:center; PADDING:5px;}
.table_line_02 td{PADDING:5px 10px;line-height:25px; border: 1px solid #d5d5d5;}
.tit_blog{border-bottom:1px solid #9abafb;}
.tit_not{border-top:1px solid #d5d5d5; word-break: break-all;}
.bloga_01_conbox{height:300px; padding:20px;}

.table_line_03 td.fqt{background:url(../bbs/img/sc_img/bg_faq_q.png) 20px 10px no-repeat; PADDING:13px 13px 13px 45px;}
.table_line_03 td.qst{background:url(../bbs/img/sc_img/bg_faq_a.png) 20px 20px no-repeat; PADDING:20px 13px 20px 45px; line-height:20px;}
.table_line_03 td.s_n{text-align:center; PADDING:6px 10px 5px 30px; border:none;}
.table_line_03 td.bt{border-bottom:none; border-collapse:inherit;}
.table_line_03 td{border-bottom: #d5d5d5 1px solid;}

.table_line_04{ width:100%; border:1px solid #7b91ff;  margin-top:30px; margin-bottom:30px; background:#ffffff;}
.table_line_04 th {PADDING:13px 13px 13px 13px;border-top:1px solid #bccee1;font-weight:bold; COLOR: #65727f; background:#eaf0f6; }
.table_line_04 th.tit_a{border:1px solid #7b91ff; font-weight:bold; COLOR: #fff; background:#7b91ff; text-align:center;}
.table_line_04 td{PADDING:13px 13px 13px 13px; border-top:1px solid #bccee1;}
.table_line_04 td span{padding:5px;}
.table_line_04 .center{text-align:center;}

.table_line_05{ width:100%; border-top:2px solid #9abafb; border-bottom:2px solid #9abafb;  margin-top:5px; margin-bottom:30px;}
.table_line_05 th{PADDING:10px 10px 10px 25px; border-bottom:1px solid #b5cdff; color:#c5a5a44; background:#deebf3; text-align:left;}
.table_line_05 td{PADDING:10px 10px 10px 25px; border-bottom:1px solid #dbdbdb; color:#c5a5a44; background:#fff; text-align:left;}
.table_line_05 input{width:250px; height:20px; border:1px solid #d5d5d5;}

/*sign in*/
.table_line_06{ width:100%;margin-top:5px; margin-bottom:30px;}
.table_line_06 th.tit_a{padding:10px 10px 10px 10px;border-bottom:1px solid #bccee1; border-radius:0px 0px 0px 0px; font-weight:bold; COLOR: #fff; background:#7b91ff; text-align:center;}
.table_line_06 th.tit_b{padding:10px 10px 10px 10px;border-bottom:1px solid #bccee1; border-radius:0px 0px 0px 0px; font-weight:bold; COLOR: #fff; background:#7b91ff; text-align:center;}
.table_line_06 th.tit_a02{padding:10px 10px 10px 10px;border-bottom:1px solid #bccee1; border-radius:0px 0px 0px 0px; font-weight:bold; COLOR: #fff; background:#7b91ff; text-align:center;}
.table_line_06 th.tit_a03{padding:10px 10px 10px 10px;border-bottom:1px solid #bccee1; border-radius:0px 0px 0px 0px; font-weight:bold; COLOR: #fff; background:#7b91ff; text-align:center;}
.table_line_06 th {PADDING:10px 5px 10px 5px;border-bottom:1px solid #bccee1  ; border-right: 1px solid #bccee1;  font-weight:bold; COLOR: #65727f;background:#fff;}
.table_line_06 td{ PADDING:10px 10px 10px 10px;border-bottom:1px solid #bccee1  ; border-right: 1px solid #bccee1; background:#fff; }
.table_line_06 .td_02{ PADDING:10px 10px 10px 10px;border-bottom:1px solid #bccee1  ; border-right: 1px solid #bccee1; border-radius:0px 0px 0px 0px; background:#fff; }
.table_line_06 .center{text-align:center;background:#eaf0f6; border-left:1px solid #bccee1;}
.table_line_06 .center02{text-align:center;background:#eaf0f6; border-radius:0px 0px 0px 0px; border-left:1px solid #bccee1;}
.btn_01{margin-left:3px; margin-right:10px;}

#joinP_id_W{width:350px; background:#fff; border:1px solid #999;}
.joinP_id_tit{height:13px; padding:10px; background:#7b91ff; font-weight:bold; COLOR:#fff;}
.joinP_form{margin:20px;}
.joinP_id_form{text-align:center;}
.id_form_btn{text-align:center;}

#pop-up_W{width:520px; background:#f5f6f8; border:1px solid #999;}
.pop-up{margin:30px;}
.signout_tit{margin-bottom:25px;}
.con_table{ width:400px; text-align:center; margin:auto;}
.con_table td{padding:6px; font-weight:bold;}
/*sign in*/

.table_line_07 {width:100%;margin-top:5px; background:#fff; border:1px solid #b6c2fe;}
.Q_txt{padding:30px; height:350px; vertical-align:top; }
.Q_txt_01{padding-left:20px; font-weight:bold;}
.btn_list{float:right; margin-right:20px; margin-bottom:25px;}

.Q_rpbox_w .B_search{width:675px;height:50px; border: 1px solid #d7d7d7; padding:5px 8px 5px 8px;}
.asw_a{border-top:1px solid #b6c2fe; border-bottom:1px solid #b6c2fe; padding:20px; font-size:13px;}
.asw_a01{font-weight:bold; padding:0 10px 0 0; COLOR:#3c3c3c;}
.asw_bt{float:right;}



.table_line_not {width:100%; margin-top:5px; background:#fff; border:1px solid #c9d2ff; border-radius:0px 0px 0px 0px;}
.table_line_not a, .table_line_not a{text-decoration:none; color:#515151; }
.table_line_not a:hover, .table_line_not a:hover{text-decoration:underline;}


.table_line_not th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}

.table_line_not th.tit_round_02{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:15px; COLOR:#fff; padding:13px; text-align:left;}
.table_line_not th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}


.table_line_not td{font-size:13px; text-align:center; padding:13px; border-top:1px solid #c9d2ff;}
.table_line_not td.B_txt{font-size:13px; text-align:left; padding:13px; border-top:1px solid #c9d2ff; border-right:1px solid #c9d2ff;}
.B_txtbox{float:left;}


.table_line_BlogA {width:100%; margin-top:5px; background:#fff; border:1px solid #c9d2ff; border-radius:0px 0px 0px 0px;}
.table_line_BlogA th.tit_round{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}
.table_line_BlogA th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}

.table_line_BlogA th.tit_round_02{ border-radius:0px 0px 0px 0px; COLOR:#fff; padding:13px; text-align:left;}
.table_line_BlogA th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}

.table_line_BlogA th{background:#7b91ff; border:1px solid #7b91ff; font-size:13px; COLOR:#fff; padding:10px;}
.table_line_BlogA td{font-size:13px;padding:13px; border-top:1px solid #d5d5d5;text-align:center;}
.table_line_BlogA td.abc{text-align:left; padding-left: 25px;}
.table_line_BlogA td.B_txt{font-size:13px; text-align:left; padding:20px; border-top:1px solid #c9d2ff;}
.B_txtbox{float:left;}
.table_line_BlogA  a, .table_line_BlogA a{text-decoration:none; color:#515151; }
.table_line_BlogA  a:hover, .table_line_BlogA a:hover{text-decoration:underline;}
.B_tit_tbox{margin-left:5px;width:714px; height:23px; border:1px solid #d7d7d7;}
.B_conbox_a{margin:6px 0px 6px 6px;}
.B_con_tbox{width:785px; height:500px; border:1px solid #d7d7d7; margin-bottom:15px; margin-top:15px;}
.BlogA_txtbox{float:left; margin:0 10px 0 10px;}
.BlogA_txtbox_02{float:left; margin:0 10px 0 10px;}


.table_line_10 {width:100%; margin-top:5px; background:#fff; border:1px solid #c9d2ff; border-radius:0px 0px 0px 0px;}
.table_line_10 th.tit_round{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}
.table_line_10 th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}

.table_line_10 th.tit_round_02{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:15px; COLOR:#fff; padding:13px; text-align:left;}
.table_line_10 th.tit_round_r{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:13px;}

.table_line_10 th{background:#7b91ff; border:1px solid #7b91ff; font-size:13px; COLOR:#fff; padding:10px;}
.table_line_10 td.tit_Q{font-size:15px; font-weight:bold; padding:13px 5px 13px 0px; border-top:1px solid #c9d2ff; border-right:1px solid #c9d2ff;}
.table_line_10 td{font-size:13px; text-align:left; padding:13px 5px 13px 0px; border-top:1px solid #c9d2ff; border-right:1px solid #c9d2ff;}
.table_line_10 td.B_txt{font-size:13px; text-align:left; padding:13px; border-top:1px solid #c9d2ff; border-right:1px solid #c9d2ff;}

.table_line_10_02 {width:100%; height:150px; margin-top:15px;}

/*CATEGORY_P*/
#cate_P_W{width:280px; background:#fff; border:1px solid #c5c5c5; height:428px;}
.cate_P_F{margin:30px;}
.cate_P_F_ok{margin:30px; margin-top:100px;}
.cate_P_form{margin-bottom:20px;}
.cate_P_table01{background:#fff; border:1px solid #7b91ff; width:100%; border-radius:0px;}
.cate_P_table01 a{color:#646971;}
.cate_P_table01 th{background:#7b91ff; padding:10px; COLOR:#fff; border-radius:0px 0px 0px 0px;}
.cate_P_table01 td{padding:10px; border-top:1px solid #7b91ff; text-align:center; font-weight:700; background:#fff;} 
.cate_P_table02{background:#fff; border:1px solid #7b91ff; width:100%; border-radius:0px;}
.cate_P_table02 th{background:#7b91ff; padding:10px; COLOR:#fff; border-radius:0px 0px 0px 0px;}
.cate_P_table02 td{padding:40px; border-top:1px solid #7b91ff; text-align:center; font-weight:700; background:#fff;} 
.cate_btn{margin:25px auto; width:174px;}

/**CATEGORY_P**/


/*MYCHART*/
.left_box{float:left; width:477px; margin-right:25px; margin-top:30px;}
.left_box_L{float:left;width:477px;}
.left_box_R{float:left; width:477px; margin-bottom:20px;}
.tit_mct_01{float:left; font-weight:bold;}
.table_line_11{height:180px; margin-top:35px; margin-bottom:25px; background:#eaeaea; border:10px solid #9c9c9c;}
.mct_table_01{float:right; border:1px solid #ff6b6b; width:236px; margin: 20px; background:#fff; }
.mct_table_01 th{background:#ff6b6b; COLOR:#fff; height:30px;}
.mct_table_01 td{text-align:center;border-top:1px solid #ff6b6b; padding:10px 5px 10px 5px;}
.mct_photo{float:left; margin:20px 0px 20px 20px;}
.mychart_box_03{}
.mct_table_line_02{float:left; border:1px solid #7b91ff; background:#fff; margin-top:20px; border-radius:0px 0px 0px 0px;}
.mct_table_line_02 th{background:#eaf0f6; border-top:1px solid #7b91ff;padding:11px;}
.mct_table_line_02 th.tit_round{background:#7b91ff; border:1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:11px;}
.mct_table_line_02 th.tit_round_r{background:#7b91ff; border: 1px solid #7b91ff; border-radius:0px 0px 0px 0px; font-size:13px; COLOR:#fff; padding:11px;}
.mct_table_line_02 td{padding:11px; border-top:1px solid #7b91ff;}

.mct_table_line_03{float:left; border:1px solid #7b91ff; background:#fff; border-radius:0px 0px 0px 0px;}
.mct_table_line_03 th{background:#7b91ff; border:1px solid #7b91ff; COLOR:#fff; padding:11px;}
.mct_table_line_03 th.tit_round{border-radius:0px 0px 0px 0px;}
.mct_table_line_03 th.tit_round_r{border-radius:0px 0px 0px 0px;}
.mct_table_line_03 td{padding:10px; border-top:1px solid #7b91ff; text-align:center;}

.right_box{float:right; width:738px; margin-top:25px;}
.rightB_tit{float:left; width:738px; margin-bottom:25px;}
.mct_imgbox{ height:312px; background:#fff; border:5px solid #ff7171; margin-top:20px;}
.bt_mct_01{float:right;}

#mct_blogP_W{width:520px; background:#f5f6f8; border:1px solid #999;}
.mct_blogP{margin:30px;}
.blogP_tit{margin-bottom:25px;}
.mct_blogP_table{background:#fff; border:1px solid #7b91ff; border-radius:0px;}
.mct_blogP_table th{background:#7b91ff; padding:13px; color:#fff; }
.mct_blogP_table td{padding:8px; text-align:center;border-top:1px solid #7b91ff;
border-right:1px solid #7b91ff;}
.blogP_form{text-align:center; margin-top:20px; margin-bottom:20px; font-weight:bold;}
.blogP_txt01{text-align:center;line-height:23px;}
.blotP_btn{width:85px; margin:auto; margin-top:15px;}

/*MYCHART*/
.right_box_02{margin-top:25px;}
.icon{padding:0px 5px 0px 0px;}
.table_pwC_con{
	width: 339px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;}
.table_pwC_con td{font-weight:bold; padding:8px 0px 8px 0px;  text-align:center;}
.abxd{COLOR:#ff1f54;}
.table_idf_con{
	width:237px;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;}
.table_pwf_con{
	width: 273px;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;}
.table_idf_con td{font-weight:bold; padding:8px 5px 8px 0px; text-align:center;}
.table_pwf_con td{font-weight:bold; padding:8px 0px 8px 0px;  text-align:center;}
.btn_idF{width: 143px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;}
.btn_pwF{width: 143px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;}
.op_tr{background:#ffffff; opacity: 0.2; border:1px solid #fff;}
/**MYCHART END**/

.idF_Rbox{background:#fff; width:800px; height:80px; border:8px solid #d7d7d7; 	margin-top: 150px; margin-right: auto; margin-left: auto;}
.idF_Rbox_txt{font-weight:bold; font-size:14px; text-align:center; margin-top:30px;}
.Rbox_ID{COLOR:#ff2c68; padding:0px 10px 0px 10px;}
.btn_A01{width: 230px; margin:30px auto;}
.PW_txt{text-align:center; padding-top:45px; font-weight:bold; font-size:13px; line-height:24px;}



.mct_Bbox_01{float:left; margin-top:25px; width:1240px; margin-bottom:20px;}
.B_selbox{float:left; width:1230px; height:130px; background: #fff;  border:5px solid #b5cdff; margin-bottom:20px; }
.Bbox_01_sel{float:right;margin-bottom:10px;}
.tit_mct_03{float:left; margin-top:9px;}
.selbox_txt{text-align:right; font-size:11px; padding-top:12px;}
.mct_Bbox_02{float:right;  margin-top:32px; width:738px;}
.Bbox_G_img{background:#fff; float:left; width:1232px; border:4px solid #7b91ff; }
.mct_Expbox{float:left; width:730px; background:#d9efee; border:4px solid #4db4ab; margin-top:25px;}
.mct_extable{border:1px solid #c5c5c5; float:left; margin:10px; background:#fff; height:125px;}
.mct_extable td{padding:10px;}
.mct_extable th{border-bottom:1px solid #c5c5c5; padding:10px 0px 10px 0px;}
.mct_extable_R{border:1px solid #c5c5c5; float:right; margin:10px; background:#fff;}
.mct_extable_R td{padding:10px;}
.mct_extable_R th{border-bottom:1px solid #c5c5c5; padding:10px 0px 10px 0px;}
.extable_btnL{float:left;}
.extable_btnR{float:right;}
.ext_btn{padding:0px 5px 0px 5px;}

.exper_table_01 {width:100%; background:#fff; border-top:3px solid #ff8080; border-bottom:1px dashed #ff8080;}
.exper_table_01 th{padding:30px; text-align:left; line-height:25px;}
.exper_table_01 th.exp_tit{padding:15px 0px 0px 0px;}
.exper_table_01 td{line-height:26px;}
.exper_table_01 tr{border-bottom:1px solid #ff8080;}
.exp_tits_01{font-size:16px; COLOR:#2d313c;}

.exper_table_02 {width:100%; background:#fff; border-bottom:1px solid #ff8080;}
.exper_table_02 th{padding:30px; text-align:left; line-height:25px;}
.exper_table_02 td{padding:30px; line-height:26px;}
.exper_table_02 tr{border-bottom:1px solid #ff8080;}
.exper_img{text-align:center; margin-top:20px;}
.exper_img02{text-align:center;}
.exper_img_01{margin-bottom:20px;}
.ex_product_box{width:627px; margin:60px auto; }
.btn_ex{float:right;}
.btn_ex02{padding-left:5px;}
.number{font-weight:bold; COLOR:#ff1f54; padding-right:5px;}
.bar{padding-right:18px;}

.exper_table_03 {width:100%; background:#fff; border-bottom:1px dashed #ff8080;}
.exper_table_03 th{padding:30px; text-align:left; line-height:25px; background:#ffe5db; COLOR:#2d313c;}
.exper_table_03 th.exp_tit{padding:15px 0px 0px 0px;}
.exper_table_03 td{line-height:26px; padding:20px;}
.exper_table_03 tr{border-bottom:1px solid #ff8080;}
.exp_tits_03{font-size:16px; COLOR:#2d313c;}
.B_link{COLOR:#2986dc;}
.Exp_formA{padding:5px 5px 5px 0px;}
.formA{margin-top:45px; line-height:30px}
.exper_chek{margin:auto;}

.tab_on{float:left; background:#7a91ff; border:1px solid #7a91ff; border-radius:0px 0px 0px 0px; width:102px; height:37px; margin-left:20px;}
.tab_off{float:left; background:#fff; border:1px solid #b7b7b7; border-bottom:0px; border-radius:0px 0px 0px 0px; width:107px; height:37px; margin-left:20px; }
.tab_on_t{COLOR:#fff; font-family:Arial; font-weight:bold; text-align:center; padding:10px;}
.tab_off_t{COLOR:#7a91ff; font-family:Arial;  font-weight:bold; text-align:center; padding:10px;}
.tab{height:39px; border-bottom:2px solid #7a91ff;}
.all_Bbox{background:#fff; border:1px solid #7a91ff; border-radius:0px 0px 0px 0px; height:1150px;}
.pdt_box_w{float:left; width:247px; margin:25px 0px 0px 25px;}
.product_box{background:#eef3ff; border:1px solid #cccccc; border-radius:0px;}
.product_box td{text-align:center; line-height:18px; padding-bottom:18px;}
.pdt_img{padding:15px;}
.product_box th{text-align:center; background:#d6e2ff; padding:8px; border-radius:0px 0px 0px 0px;}
.pdt_boxtit{font-weight:bold; font-size:15px; COLOR:#2b2e33;}
.pdt_boxnum{font-weight:bold; COLOR:#ff2b6c; padding:8px 2px 8px 10px;}
.t_link{margin-top:20px;float:right; }
.t_link a, .t_link a{text-decoration:none; color:#515151; font-weight:bold;}

.recom{width:1100px; margin:auto;}
.blogR_tab{width:816px; height:39px; margin:auto; margin-top:40px;}
.brgtab_on{float:left; margin-right:20px; width:250px; height:39px; background:#7c92ff; font-weight:bold; font-size:15px; COLOR:#fff; border:1px solid #7c92ff; border-radius:0px 0px 0px 0px; text-align:center;}
.brgtab_off{float:left; margin-right:20px; width:250px; height:39px; background:#fff; font-weight:bold; font-size:15px; border:1px solid #cccccc; border-bottom:0px; border-radius:0px 0px 0px 0px; text-align:center;}
.brgtab_on_t{padding:10px;}
.brgtab_off_t{padding:10px; }
.listbox_w{margin-top:1px;width:1100px; background:#fff; border:1px solid #7c92ff; border-top:3px solid #7c92ff; border-radius:0px 0px 0px 0px;}
.step1_list{margin:40px; text-align:center;}
.step2_list{margin:40px;}
.list_tit{font-weight:bold; padding-right:10px;}
.list_tit_name{padding:10px; font-weight:bold; COLOR: #ff2175;}
.blr_tab01{border-bottom:1px dashed #7c92ff; line-height:20px;  }
.blr_tab01 td{padding-bottom:40px;}
.blr_tab02{border-bottom:1px dashed #7c92ff; margin-top:13px; }
.blr_tab02 td{padding-bottom:40px; padding-top:13px;}
.blr_tab02 th{background:#eef3ff; border:1px solid #d6e2ff; padding:13px; COLOR:#6276d1;}
.step2_list_table{background:#fff; border:1px solid #b7b7b7; margin-top:25px;}
.step2_list_table th{background:#e1e1e1; padding:13px;}
.step2_list_table td{padding:20px 0px 20px 30px;}
.blogr_wlogo{padding-right:10px;}
.btn_align{ text-align:center; margin-top:30px; margin-bottom:30px;}
.img_03{width:560px; margin:auto; margin-top:70px;}



.B_txtbox{float:left;}
.Q_search{width:730px; height:25px; border: 1px solid #d7d7d7; padding:5px 8px 5px 8px;}
.Q_search_02{width:800px; height:300px; border: 1px solid #d7d7d7; padding:5px 8px 5px 8px;}



.b_box{text-align:center; margin-bottom:75px; padding-bottom:30px; border-bottom: 1px solid #dbdbdb}
.b_box p{font-weight:bold; color:#0054aa; padding-bottom:15px;}
.b_box span{padding:5px;}
.b_box_02{text-align:center; margin-top:20px;}


.pop_cate_L,.pop_cate_R{width:333px; padding:15px 10px; border:1px solid #cdcdcd; position:absolute; background:#fff;}
.pop_cate_L{left:0px; top:20px;}
.pop_cate_R{left:355px; top:20px;}

.pop_cate_L li,.pop_cate_R li{float:left; padding-left:10px; margin-bottom:10px;}
.pop_cate_L li .sb,.pop_cate_R li .sb{ border:1px solid #d1d1d1; width:250px; height:21px;}


.list_search{margin:auto; width:350px; padding-bottom:10px;}
.list_search .sel_T{ background:url(../images/bg_sel.jpg) no-repeat 100%; padding:5px 8px 0px 8px;	border: 1px solid #d7d7d7; width:134px; height:18px;	cursor: pointer; }
.list_search .sel_T .sub {width:150px; height:101px; padding: 6px 0px;border:  1px solid #d7d7d7; left:178px;	top:24px; bottom: 20px; position: absolute;	z-index: 10; overflow-y:scroll; overflow-x:hidden; -ms-overflow-x: hidden;	-ms-overflow-y: scroll;	max-height: 168px;	background-color:#fff;}
.list_search .sel_T .sub .optionList {padding: 0px 6px 0px 8px; width:120px;	clear: both; cursor: pointer; overflow: hidden;}
.list_search .sel_T .sub .optionList li:hover {background-color:#ffb2b2; color:#fff;}
.list_search .sel_T .sub .optionList li {padding:5px 1px 3px 3px; color:#333; font-size: 11px;}

.list_search .B_search{border: 1px solid #d7d7d7; padding:8px; width:145px}
.list_search .searchBy{border: 1px solid #d7d7d7;padding:7px; }
.search_box{border:4px solid #2a65b0; background:#fff;} 




#contents_aw .cs_box{background:url(../images/bg_mypage_box);}


#contents_main .week{background:url(../images/bg)}


#contents_main .img_01{width:1085px; margin-top:20px; margin-left:215px;}
#contents_aw .img_02{ width:560px; margin-top:150px; margin-left:auto; margin-right:auto; }
#contents_main .btn_com{width:660px; margin-top:20px; margin-left:485px;}
#contents_main .chart_box_08 {margin-top: 125px;}

.bannerArrowBtn{ position:relative; top:170px;font-size:50px;color:#FFA54E; }
.theme_main_btn { position:relative; top:0px; left:0px; border:0px }
.theme_main_btn_over { position:relative; top:-1px; left:-1px; border:1px solid green}


/*PAGING*/
.paging {text-align:center;   margin-top:0px; margin-bottom:15px; width:100%; height:50px; cursor:pointer;}
.paging_02 {float:left; margin-top:20px;cursor:pointer;}
.paging_03 {text-align:center; margin-top:20px;cursor:pointer;}
.btn_list_a{float:right; margin-top:20px;}
.paging .paging_c {display: inline-block; margin:22px auto; }
.paging .paging_c ul {float:left;}
.paging .paging_c li {margin-right:15px; display: inline; padding:0px 3px; padding:0px 5px 0px 5px;  font-size:14px;}
.paging .paging_c li.on a{ 
  font-weight: bold;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #2a65b0;
  color: #fff !important;
  line-height: 26px;
}
.paging .paging_c .p_btn_L {float: left; margin-right: 15px; padding-top:5px;}
.paging .paging_c .p_btn_R{ float:left;margin-left:10px; padding-top:5px;}
.paging a{text-decoration:none; color:#515151; }
.paging a:hover{text-decoration:underline;}

/*로그인 작은팝업창*/
.Loginpop_box{width:397px; position:absolute; right:0; top:0; z-index:100;}
.Loginpop_close{text-align:right; background-color:#2A65B0;width:100%;  height: 40px;}
.Loginpop_txt p{float:left; width:245px; height:26px; padding-left:20px; padding-top:12px; font-size:13px; border-bottom:1px solid #e5e5e5; background-color:#fff;}
body .lp_1{width:97px; font-weight:bold; letter-spacing:2px; color:#7a7a7a; background-color:#f2f2f2; font-size:13px; padding-left:35px;}
.Loginpop_btn{background-color:#fff; background-color:#e0e0e0; display:inline-block;}
.Loginpop_btn p{float:left;}
.Loginpop_btn p a{color:#fff;}
.loginpop_btn11{background-color: #2a65b0; font-weight:bold;width:132px; text-align:center; padding-top:10px; height:30px;}
.loginpop_btn22{background-color: #f7941e; font-weight:bold; width:133px; height:30px; text-align:center; padding-top:10px;}
.loginpop_btn33{font-weight:bold; width:132px; height:30px; text-align:center; padding-top:10px; background-color:#c0c0c0;}

